:root {
  --white-color: #fff;
  --black-color: #000;
  --grey: #81858E;
  --grey-200: #DFE0E2;
  --grey-300: #D2D3D6;
  --grey-600: #686C74;
  --dark: #040B1D;
  --blue-gray-200: #C9D0D7;
  --blue-gray-400: #9CAAB7;
  --blue-gray-500: #7F90A1;
  --blue-gray-600: #647789;
  --blue-grey-700: #5A6A7A;
  --blue-gray: #F5F6F7;
  --link-color: #0087D0;
  --link-light-color: #EBF8FF;
  --bg-page: #f9faff;
  --primary-500: #009CF0;
  --primary-600: #0085CC;
  --card-background: #fff;
  --header-background: #fff;
  --border-color: #D2D3D6;
  --unique-network: #009CF0;
  --quartz-primary: #FF4D6A;
  --opal-primary: #5942C8;

  --gap: 16px;
  --bradius: 4px;
  --max-width: 1366px;
}
