@import 'global';

.pagination-wrapper {
  font-size: 16px;
  .total {
    margin-right: calc(var(--gap) / 2);
  }
  .unique-select {
    display: flex;
    align-items: baseline;
    column-gap: calc(var(--gap) / 2);
    label {
      font-size: 16px;
      font-weight: 500;
      width: 64px;
    }
    .select-wrapper {
      width: 72px;
    }
  }
}

.pagination-container {
  list-style: none;
  padding: 0;
  display: flex;
  li {
    padding: 4px 6px;
    min-width: 18px;
    text-align: center;
    cursor: pointer;
    &.active {
      border: 1px solid var(--primary-color);
      color: var(--white-color);
      background-color: var(--primary-color);
      border-radius: 4px;
      cursor: default;
    }
  }
  li:last-child, li:first-child {
    padding: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  li:first-child {
    transform: rotate(180deg);
  }
}


@media (max-width: 767px) {
  .pagination-wrapper {
    flex-direction: column;
    align-items: flex-start !important;
    row-gap: calc(var(--gap) * 1.5);
  }
}