@import "styles/global";

body {
  margin: 0;
  font-family: Inter;
}

.app-wrapper {
  background: var(--bg-page);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--primary-600);
  font-size: 16px;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.unique-tabs-labels {
  flex-wrap: nowrap;
}

.unique-layout {
  &__content {
    padding: 0 !important;
    background-color: transparent !important;
    box-shadow: none !important;
    display: flex;
    flex-direction: column;
    row-gap: calc(var(--gap) * 1.5);
  }

  @media (min-width: 1920px) {
    main {
      width: 1920px;
      margin: 32px auto 50px !important;
      padding: 0 48px;
    }
  }

  @media (max-width: 1024px) {
    header {
      top: 0;
      position: sticky !important;
      z-index: 1000;
    }
  }

  @media (max-width: 767px) {
    footer {
      margin-top: 40px;
      padding: 16px !important;
      height: 100px !important;
      flex-direction: column !important;
      justify-content: center !important;
      align-items: flex-start !important;
    }
  }
}

